doctype html
html(lang='es')
 head
  meta(charset='UTF-8')
  title #tachira, en vivo tachira
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  meta(name="author", content="Mario Grieco <mariojosuexz@gmail.com>")
 body
  header 
   div.icon-twitter2
  div.letters
   h1.now EN VIVO,  #TACHIRA !
  section.tweetBox
   div.spinner
    div.dot1
    div.dot2
   span.tweets
   link(rel="stylesheet", href="main.css")
 footer
 script(type='text/javascript', src='index.js')
 script(type='text/javascript', src='an.js')